@use '_mixins' as *;
@use '_consts' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



/*  Logo  */
.logo-text{
    margin-left:0.44rem;
}
/* !Logo */
.header-container{
    @include flex(center,center);
    box-sizing: border-box;
    margin: 0 8vh 0 8vh;
    z-index: 1;
}
.current-city{
    margin-left:0.25rem;
    cursor: pointer;

}

.order-now-ticket-container {
    @include flex(center,center);
    flex-grow: 2;
    width: 100%;
    h4{
        @include font(700, 1.125rem, #000);
        margin-left:0.25rem;
    }
    svg{
        cursor: pointer;
    }
}
.buy-ticket-slider-button{
    cursor: pointer;
}
.bell-icon{
    margin-left:0.44rem;
    width: 32px;
    height: 32px;
}

.image-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.user-information{
    @include flex(flex-end, center);
    flex: 0 0 33.3%;
}
.user-information-text{
    margin-right:0.44rem;
    cursor: pointer;
}
.user-information-bell{
    @extend .user-information-text;
}
.user-information-bell{

}
.user-information-bell::after{

}

.slider-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 110vh;
    position: relative;
    z-index: 5;

}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
.slider-arrow-prev{
    position: absolute;
    left:0;
    top:50%;
    opacity: 0.5;
    cursor: pointer;
    transform: scaleX(-1) scaleY(-1);
    z-index: 2;
    &:hover{
        opacity: 1;
        transition: opacity ease-out 400ms;
    }
}
.slider-arrow-prev *, .slider-arrow-next *{
    fill: #FFF;
}
.slider-arrow-next{
    position: absolute;
    right:0;
    top:50%;
    opacity: 0.5;
    cursor: pointer;
    z-index: 2;
    &:hover{
        opacity: 1;
        transition: opacity ease-out 400ms;
    }
    &:not(:hover){
        transition: opacity ease-out 400ms;
    }
}
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    transition: ease-out 200ms;
}
.header-scrolled{
    background-color: #fff;
}
.section-container{
    height: 100vh;
    @include flex(center,center)
}
.concert-performer-block{
    @include font(900, 8vmin);
    text-shadow:
            0 0 1px #000,
            0 0 5px rgba(255, 255, 255, 0.25),
            0 0 10px rgba(255, 255, 255, 0.25),
            0 0 15px rgba(255, 255, 255, 0.25),
            0 0 20px rgba(255, 255, 255, 0.25);
}
.concert-performer{
    text-align: center;
    white-space: break-spaces;
    width: 100%;
    max-width: 100%;
    text-overflow:ellipsis;
    position: absolute;
    top: 10%;
    margin:0;
    left: 0;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}
.concert-name{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    z-index: 1;
}
.concert-name-block{
    @include font(700, 9vmin, #fff);
    text-shadow:
            0 0 1px #000,
            0 0 5px rgba(255, 255, 255, 0.1),
            0 0 10px rgba(255, 255, 255, 0.1),
            0 0 15px rgba(255, 255, 255, 0.1),
            0 0 20px rgba(255, 255, 255, 0.1);
    }
.concert-double-name{
    opacity: 0.3;
    margin-top: -2vh;
    filter: blur(1px);
    //animation: bgBlur ease-out 400ms infinite;
}
//@keyframes bgBlur {
//    0% {
//        filter: blur(1px);
//        transform: rotateY(5deg);
//    }
//    50%{
//    }
//    100%{
//        filter:blur(1px);
//    }
//}
.concert-double-name2{
    opacity: 0.3;
    margin-left: -1vh;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    filter: blur(2px);
}
.concertTime-tickets-block{
    background: transparent;
}
.date-circle {
    width: 7vh;
    height: 7vh;
    background-color: #000;
    border-radius: 50%;
    @include flex(center,center);
    color: #fff;
    font-size: 2vh;
}
.currentYear-tickets-block{
    @include font(800, 2vh);
}
.concertCity-tickets-block{
    @include font(300, 2vh);

}
.concertPlace-tickets-block{
    @include font(800, 2vh);
    max-width: 15vh;
    text-overflow: ellipsis;
    overflow: hidden;

}
.concertPerformer-tickets-block{
    @include font(800, 3vh);
    max-width: 30vh;
    text-overflow: ellipsis;
    overflow: hidden;

}
.concertName-tickets-block{
    @include font(800, 2vh);
    max-width: 30vh;
    text-overflow: ellipsis;
    overflow: hidden;
}
.concertTime-tickets-block{
    @include font(800, 3vh, #fff);
    background-color: #000;
}
.concertDate-tickets-block{
    @include font(800, 2vh);
    @include flex(center,center);
    gap: 0.25rem
}
.buy-ticket-button{
    @include flex(center,center);
    @include font(600, 2vh);
    width: 9vh;
    height: 9vh;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 50%;
    background: transparent;

    &:hover{
        color:#fff;
        background-color: #000;
        transition: color ease-out 600ms;
        animation: textShadowAnimation 4s infinite;
    }
    &:not(:hover){
        transition: color ease-out 600ms;
    }
}
.city-info{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom:32%;
    right: 0;
    left: 0;
    z-index: 1;

    h2 {
        @include font(300, 4vh, #fff);
        margin:0;
        text-shadow:
                0 0 1px #000,
                0 0 5px rgba(255, 255, 255, 0.1),
                0 0 10px rgba(255, 255, 255, 0.1),
                0 0 15px rgba(255, 255, 255, 0.1),
                0 0 20px rgba(255, 255, 255, 0.1);
    }
}

.date-info{
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top:10px;
    bottom:27.5%;
    right: 0;
    left: 0;
    z-index: 1;
    h3 {
        margin:0;
        @include font(700,3vh, #fff);
        text-shadow:
                0 0 1px #000,
                0 0 5px rgba(255, 255, 255, 0.1),
                0 0 10px rgba(255, 255, 255, 0.1),
                0 0 15px rgba(255, 255, 255, 0.1),
                0 0 20px rgba(255, 255, 255, 0.1);
    }
}

.buy-ticket-slider-block{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom:10%;
    right: 0;
    left: 0;
    z-index: 1;

}
.buy-ticket-slider-button{
    width: 40vh;
    height: 5rem;
    cursor: pointer;
    @include font(700, 2rem, #fff);
    background: #000;
    border: none;
    z-index: 2;
    text-shadow: -1px -1px 0 #000,
    -2px -2px 1px #000;
    animation: textShadowAnimation 4s infinite;
    &:hover{
        background: #fff;
        color:#000;
        transition: color ease-out 600ms;
        animation: 0;
    }
    &:not(:hover){
        transition: color ease-out 600ms;
    }
}
@keyframes textShadowAnimation {
    0% {
        text-shadow: 0 0 30px rgba(255, 255, 255, 1);
    }
    25% {
        text-shadow: 5px 0 20px rgba(255, 255, 255, 1);
    }
    50% {
        text-shadow: -5px 0 20px rgba(255, 255, 255, 1);
    }
    75% {
        text-shadow: 0 0 30px rgba(255, 255, 255, 1);
    }
    100% {
        text-shadow: 0 0 30px rgba(255, 255, 255, 1);
    }
}
.tickets-place-block{
    @include flex(center,center,column);
    margin-top: 20vh;
}
.tickets-title-block{
    margin-top:4.75rem;
    h2{
        @include font(900, 4rem, #000);
        margin:0;
    }
}
.switched{
    animation: fadeIn 2s ease-out;
}
.tickets-buy-block{
    @include flex(space-between,center);
    padding:0.5rem;
    border-radius: $border-radius;
    border: 1px solid #000;
    background: #FFF;
    height: 15vh;
    width: 65vh;
    text-align: center;
    .first,.last{
        width:25%;
    }
    .center{
        width:50%;
    }
}
.tickets-list-block{
    @include flex(center,center);
    flex-wrap: wrap;
    gap: 4rem;
    margin-top:5rem;
}
.ticket-info-column{
    @include flex(center,center,column);
    flex-wrap: wrap;
    gap:0.5rem;

}

.fade-enter{
    opacity: 0;
}
.fade-exit{
    opacity: 1;
}
.fade-enter-active{
    opacity: 1;
}
.fade-exit-active{
    opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
    transition: opacity 500ms;
}

.dropdown-menu{
    @include flex(center,center,column);
    margin-top:3rem;
    position: relative;
    z-index: 3;
    h1{
        @include font(700, null, #000,  #fff);
        margin:0;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
    }
    &:hover {
        color: #fff;
        background-color: #000;
        transition: color ease-out 600ms;
        h1 {
            color: #fff;
            transition: color ease-out 600ms;
        }
        .selected {
            color: #000;
            background-color: #fff;
            transition: color ease-out 600ms;
        }
    }
}
.rotate-arrow-dropdown-active{
    margin-left: 1.38rem;
}
.rotate-arrow-dropdown-inactive{
    transform: rotate(180deg);
    margin-left: 1.38rem;
}
.dropdown-menu-items{
    @include flex(center,null);
    font-size: 2vh;
    gap:1rem;
    flex-wrap: wrap;
    margin:2rem;
    transition: height 0.3s ease-in-out;
    ul, li{
        list-style-type:none;
        cursor: pointer;
        margin:0;
        h3{
            margin:0;
        }
    }
    li:hover{
        color:#000;
        background-color: #fff;
    }

    li.selected{
        color:#fff;
        background-color: #000;
        &:hover{
            color:#000;
            background-color: #fff;
        }
    }
}
.dropdown-menu-items2{
    @extend .dropdown-menu-items;
    display: block;
    position: absolute;
    top: 100%;
    left:0;
    margin: 0;
    width: 100%;
    @include font(700,4vh);
    padding-top: 1rem;
    flex-direction: column;
    background-color: #000;
    color:#fff;
    max-height: 500px;
    ul{
        padding-left:2vh;
    }
    li.selected{
        color:#000;
        background-color: #fff;
    }
    overflow-y: auto;
}
.choose-item-dropdown{
    @include flex(center,center);
    text-align: center;
}
.modal-choose-concert-window{

}
.modal-window-properties{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    display: none;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 7;
    &.seat-choosing-modal{
        .modal-window-content{
            align-items: normal;
        }
    }
}
.modal-window-properties.show{
    @include flex(null,center);
    opacity:1;
}

.modal-window-content{
    @include flex(center,center,column);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    gap:0.5rem;
    border-radius: 1.5625rem;
    height: 50vh;
    width: 100vmin;
    text-align: center;
    position: relative;

}
.modal-window-closeButton{
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    right: 10px;
    top: 10px;
}
.city-choose-block{
    cursor: pointer;
    @include font(700, 4vh);
    align-self: center;
    width: 50%;
    h2{
        @include font(700, 3vh);
        margin: 0;
        padding: 1rem;
        text-align: center;
        &:hover{
            color:#fff;
            background-color: #000;
        }
    }

}
.city-choose-block-container {
    @include flex(null,null, column);
    margin: 1rem;
    max-height: 100%;
    width: 90%;
    height: 100%;
    overflow-y: auto;
}
.input-city-search-properties{
    border-radius: $border-radius;
    width: 50%;
    height: 2vh;
    padding: 1vh;
    @include font(400, 3vh);
    flex: 2;
}
.input-city-search{
    @include flex(center,center);
    svg{
        margin-right:5px;
    }
}
.scrolled{
    background-color:#fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    transition: ease-out 200ms;
}
.sector-choosing-block{
    @include flex(null,null);
}
.information-about-concert{
    @include flex(center, center,column);
    flex:0 0 30%;
    @include font(null,2vh,null);
    h1{
        margin:0;
    }
    h2{
        margin:0;
    }
}
.button-choose-all{
    @extend .buy-ticket-slider-button;
}
.dates-parent-block{
    @include flex(center,center,column);
    @include font(700,3vh);
    margin-top:3rem;
    h1{
        margin: 0;
    }
}
.date-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    &:hover{
        background-color: #fff;
        color: #000;
        transition: color ease-out 600ms;
    }
}
